body {
    background: url('./img/treeLight.jpg');
    background-size: cover;
    background-position: center;
    font-family: lato;
    color: white;
}

html {
    height: 100%;
}

#icon {
    max-width: 15px;
    height: auto;
    display: inline;
}

#content {
    text-align: center;
    padding-top: 20%;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px orange rgba(0,0,0,0.1),
                 0px 18px 23px yellow rgba(0,0,0,0.1);
}

h1 {
    font-weight: 700;
    font-size: 5em;
}

hr {
    width: 290px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2)
}